/* Include site variables and mixins */
@import '../../../../../styles/globals';
.root-component {
  position: relative;
  .my-float {
    margin-top: 22px;
  }

  .mat-step-header {
    overflow: visible;
    display: none !important;
  }
  

  .float {
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #df363d;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
  }

  .button-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 25px;
  }
}
.btn-mowbray {
  background-color: #df363d !important;
  background-image: none !important;
  color: #ffffff !important;
  padding: 4px 10px;
  border-radius: 25px;
}
