/* Include site variables and mixins */
@import '../../../../../styles/globals';
.root-component {
  .my-float {
    margin-top: 22px;
  }

  .float {
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #df363d;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
  }
}
