.accordin-component {
  position: relative;
  .my-float {
    margin-top: 22px;
  }

  .float {
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    background-color: #df363d;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
  }

  .float-text {
    position: absolute;
    left: 14px;
    min-width: 200px;
    padding: 18px;
    color: #676363;
    &:after {
      position: absolute;
      left: 0;
      top: 24px;
      min-width: 200px;
      border: 1px #aaaaaa solid;
      border-radius: 10px;
      background-color: #ffffcc;
      padding: 12px;
      color: #000000;
      font-size: 14px;
      z-index: 1;
    }
  }
}
