<div class="container-fluid accordin-component">
  <mat-accordion #accordion="matAccordion" multi="false">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong> Your Signature Required</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- Recent: Not Signed -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="table-section">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Address</th>
              <th>Job Brief</th>
              <th>Sign Now</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataSource">
              <td>{{ item.Date }}</td>
              <td>{{ item.Address }}</td>
              <td>
                <a routerLink="/route"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
              </td>
              <td>
                <ng-container>
                  <a (click)="signatureForm($event)">
                    Sign Now <span><i class="fa fa-pencil" aria-hidden="true"></i></span
                  ></a>
                  <br />
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Recently Signed</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- Recent: Signed -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="table-section">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Address</th>
              <th>Job Brief</th>
              <th>Sign Now</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataSource2">
              <td>{{ item.Date }}</td>
              <td>{{ item.Address }}</td>
              <td>
                <a routerLink="/route"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
              </td>
              <td>
                <ng-container>
                  <a class="green"> <span> Approved </span></a>
                  <br />
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Crew Members Signature Required</strong>
        </mat-panel-title>
        <mat-panel-description>
          <!-- Additional Signaures Required -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="table-section">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Address</th>
              <th>Job Brief</th>
              <th>Crew Members</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataSource3">
              <td>{{ item.Date }}</td>
              <td>{{ item.Address }}</td>
              <td>
                <a routerLink="/route"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
              </td>
              <td>
                <ng-container *ngFor="let crew of crewMembers">
                  <a (click)="crew.signed || signatureForm($event)">
                    {{ crew.name }} <span *ngIf="!crew.signed"><i class="fa fa-pencil" aria-hidden="true"></i></span
                  ></a>
                  <br />
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <hr />
  <span routerLink="/" title="New Form" class="float">
    <i class="fa fa-plus my-float"></i>
  </span>
</div>
