.summary-viewer {
  .modal-body {
    img {
      max-height: 90vw;
      width: 100%;
      overflow: auto;
    }
    .material-icons {
      display: none !important;
    }
    .footer-info {
      display: none !important;
    }

    #idOnHTML {
      display: none;
    }
  }
}
